/*
* Desafio DIO HBO Max
* Marcos Antonio Pelaez de Sousa
* Início: 19/05/2023
*/

/* reset css */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* fonts - Raleway / Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");


/* color palette */
  :root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
  }

    /* Custom Scroll */

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }

  /* body geral config */
  body {
    background-color: var(--primary-color);
    color: var(--text-color);
    overflow-x: hidden;
  }

  /* nav bar top */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: var(--nav-bg-color);
  position: fixed;
  z-index: 10;
}
nav img {
  width: 10rem;
}

.link-nav {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.subscrition-link-nav {
  background-color: var(--tertiary-color);
  padding: 8px 30px;
  border-radius: 20px;
  transition: 1s;
}
.subscrition-link-nav:hover {
  background-color: var(--btn-link-bg-color);
  color: var(--btn-link-color);
}

/* nav bar top - max width 480px */
@media screen and (max-width: 480px) {
  nav {
      flex-direction: column;
      align-items: center;
      padding: 40px;
  }
  nav img {
      padding-bottom: 30px;
  }
}
/* main */
main {
  margin-top: 200px;
  background-image: url(../img/background-movies-series.png);
  background-repeat: no-repeat;
}

/* footer */
footer{
  text-align: center;
  margin-bottom: 20px;
}
.help-link {
  margin: 20px 0;
}
.help-link a {
  margin: 0 14px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--link-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}
.help-link a:hover {
  color: var(--text-color);
}
.copy-info {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  color: var(--link-color);
}
.social-footer {
  margin-top: 100px;
}
.social-footer a {
  margin: 0 20px;
}

/* footer - max-width 480px */
@media screen and (max-width: 480px){
  .help-link {
    display: flex;
    flex-direction: column;
  }
  .help-link a {
    margin-bottom: 16px;
  }
  .copy-info {
    padding: 0 20px;
  }
 
}