@import url("./geral_config.css");


/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 100px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    animation: bgHeader 10s ease infinite alternate;
    transition: background-size 15s background-color 10s;
}

.icones-header {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header-title {
    width: 40%;
    margin-bottom: 30px;
}

.title-header {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
}
.title-headaer-light {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;
}
hr {
    width: 40%;
    background: var(--divider-bg-color);
    border: none;
    height: 4px;
    margin-bottom: 30px;
}
.price-header {
    margin-bottom: 50px;
    text-align: center;
}
.price-header p:nth-child(1) {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
.price-header p:nth-child(2) {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.month {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 100;
}
.price-button {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 35px;
    outline: 2px solid transparent;
    border: none;
    border-radius: 40px;
    background: var(--btn-bg-color-gradient);
    background-size: 200%;
    color: var(--text-color);
    transition: background 1s, outline 1s, transform 1s;
    animation: shake 2.2s linear infinite;
}
    

.price-button:hover {
    background: transparent;
    outline: 2px solid red;
}

.description-subscribe-header {
    width: 300px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
}

/* breackpoint 780px */
@media screen and (max-width: 780px) {
    .icones-header {
        width: 60%;
    }
    .header-title {
        width: 80%;
    }
}

/* breackpoint 480px */
@media screen and (max-width: 480px) {
    .icones-header {
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .icones-header img {
        margin-bottom: 20px;
    }
    header { animation: none; }
}

/* main config */
main {
    margin-top: 200px;
    background-image: url(../img/background-movies-series.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.title-main {
    width: 70%;
    margin: auto;
    font-family: 'Raleway',sans-serif;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}

/* plans config */
#top_plan {
    scroll-margin-top: 80px;
}
.plans {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto 100px auto;
}
.plan-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    perspective: 1000px;
    perspective-origin: top;
}
.plain-board {
    min-height: 650px;
    margin: 30px 40px;
    padding: 40px;
    background: var(--card-bg-color);
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out ;
}
.board-left {
    padding-top: 0;
    padding-bottom: 70px;
}

.plain-title-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plain-title-price h3 {
    font-size: 1.5em;
}
.price-number {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: var(--secondary-color);
}
.month-price {
    color: var(--text-color);
    font-weight: 300;
}
.plain-list {
    margin-bottom: 100px;
}
.plain-list ul li {
    margin: 30px 0 30px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-left: 16px;
    list-style: none;
}
.plain-button {
    text-align: center;
    width: 90%;
    padding: 15px 20px;
    border: none;
    border-radius: 40px;
    background: var(--btn-bg-color-gradient);
    background-size: 250%;
    outline: 2px solid transparent;
    font-family: 'raleway', sans-serif;
    text-transform: uppercase;
    font-size: 0.75em;
    color: var(--text-color);
    letter-spacing: 5px;
    transition: background 2s, outline 2s, padding 1s;
}
.plain-button:hover {
    background: transparent;
    outline: 2px solid var(--tertiary-color);
    padding: 20px 20px;
}
.botton-left {
    position: relative;
    top: 80px;
}
/* Cards rotation */
.plan-container:has(.board-left:hover) .board-right {
    transform: rotateY(-40deg);
}
.plan-container:has(.board-right:hover) .board-left {
    transform: rotateY(40deg);
}

/* channels moovies */


/* animation button header ("ASSINE AGORA") */
@keyframes shake {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0);
    }
}

/* animation background header */
@keyframes bgHeader {
    0%, 100% {
        background-color: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
        background-size: 100%;
    }
    25% {
        background-color: linear-gradient(90deg, #56125b, #0f0f10, #271e6e);
        background-size: 250%;
    }
    50% {
        background-color: linear-gradient(45deg, #56125b, #0f0f10, #271e6e);
        background-size: 300%;
    }
    75% {
        background-color: linear-gradient(-90deg, #56125b, #0f0f10, #271e6e);
        background-size: 250%;
    }
}
