@import url("./geral_config.css");

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-login {
    display: flex;
    flex-direction: column;
}
.form-login h1 {
    align-self: center;
}


